.myMeal {
    margin: 25px 25px 120px 25px
}

.myMealItem {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 25px;
}
.myMealItem img {
    width: 100%;
    height: auto;
}