.navigationItem {
    margin: 10px 10px;
    box-sizing: border-box;
    display: block;
}

.navigationItem a {
    color: black;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}